:root {
  --main-font: "Inter", sans-serif;
  --main-radius: 5px;
  --main-padding: 5px;

  --primary-color: #f5d22b;
  --secondary-color: #2B4BF5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
  color: white;
}

/* The height 100vh no allow scroll and the size is static and proportional */
.container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 16.5fr 11fr 11fr 9.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "footer footer footer footer";
  grid-gap: 0.2rem;
  font-family: var(--main-font);
  /* font-weight: 800; */
  /* text-transform: uppercase; */
  font-size: 12px;
  color: #004d40;
}

nav {
  background: var(--primary-color);
  grid-area: nav;
  border-radius: var(--main-radius);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 0 3.7rem;
}

nav > a {
  color: black;
  font-size: 1.3rem;
  font-weight: 800;
}

header {
  /* background: #1de9b6; */
  background: var(--primary-color);
  grid-area: header;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

main {
  background: var(--secondary-color);
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: white;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #f5d22b;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: black;
  text-align: center;
  padding: 1.2rem;
}

.main-profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 8rem;
  padding: 0.5rem;
}

.main-name > p {
  font-size: 1.2rem;
  font-weight: 800;
}

img {
  height: 38px;
  width: 38px;
}

.main-contact {
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.main-description {
  font-size: 0.8rem;
  padding: 1rem;
}

.main-logo {
  display: flex;
}

.main-logo > a {
  margin: 1rem 1rem;
}

#content1 > p,
#content2 > p,
#content3 > p {
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
}

/* #content1 > button, #content2 > button, #content3 > button{
    position: relative;
    right: 0px;
    top: 100px;
} */

#content1,
#content2,
#content3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: #6fffd2;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  background-image: url("https://images.unsplash.com/photo-1620926444904-8e4726a5b968?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
  background-position: center;
  background-size: cover;
  padding: 1rem 1rem;
}

.btn-review {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8rem;
  color: white;
  font-family: var(--main-font);
  font-weight: 800;
  padding: 0.4rem 1.4rem;
}

.btn-review:hover {
  background-color: var(--primary-color);
  color: black;
}

button {
  cursor: pointer;
}

#content2 {
  /* background: #64ffda; */
  grid-area: content2;
  /* border-radius: var(--main-radius);
  padding-top: var(--main-padding); */
}

#content3 {
  /* background: #73ffba; */
  grid-area: content3;
  /* border-radius: var(--main-radius);
  padding-top: var(--main-padding); */
}

footer {
  background: var(--secondary-color);
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 790px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 20fr 9.4fr 10fr 10fr 10fr 10fr 1fr;
    grid-template-areas:
      "nav"
      "header"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
    grid-gap: 0.2rem;
  }
}

/* Que me apasiona?
  me gusta hacer...
  Experiencias...
  El proyecto que hagoo
  Mi proyecto estrella
  Proyecto reconocido
*/
