:root {
  --main-font: "Inter", sans-serif;
  --primary-color: #f5d22b;
  --secondary-color: #29299c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

main {
  width: 80%;
  height: fit-content;
  margin: auto;
  margin: 4rem;
}

p {
  font-family: var(--main-font);
  font-size: 1.6rem;
}

.img-app {
  background-image: url("../../assets/img/App-Nutricional-Foodhy-745x559.jpg");
  width: 100%;
  height: auto;
}

.title-section {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

.title-section > p{
  font-size: 1.8rem;
}

.carousel-screen {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.screen-example {
  width: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem 1rem;
}

.description-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  margin: 9.2rem 1.2rem;
}

.description-section > p {
  margin: 1rem 1rem;
}

.description-section > p:hover {
  color: var(--secondary-color);
  border: 2px dashed var(--secondary-color);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
