body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #0f477b
  }

  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 55vh;
    max-width: 55vh;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #22a6b3;
  }

  .celeste.light {
    background: #7ed6df;
  }

  .violeta {
    background: #be2edd;
  }

  .violeta.light {
    background: #e056fd;
  }

  .naranja {
    background: #f0932b;
  }

  .naranja.light {
    background: #ffbe76;
  }

  .verde {
    background: #6ab04c;
  }

  .verde.light {
    background: #badc58;
  }

  .hide {
    display: none;
  }

  .btn-start {
    cursor: pointer;
    width: 420px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    border: none;
    border-bottom: 4px solid #c4c6c7;
    border-radius: 8px;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 210px);
    transition: .5s;
    outline: none;
}

.btn-start:hover {
  color: #ecf0f1;
  background: #2c3e50;
  border-bottom: 4px solid #1f3346;
}

.btn-start:active {
  transform: scale(.95);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.animated {
  animation-duration: 30s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.wobble {
  animation-name: wobble;
}

@keyframes wobble {
  0% {transform: translateY(0%);}
  15% {transform: translateY(0%) rotate(180deg);}
  30% {transform: translateY(0%) rotate(-180deg);}
  45% {transform: translateY(0%) rotate(180deg);}
  60% {transform: translateY(0%) rotate(-180deg);}
  75% {transform: translateY(0%) rotate(180deg);}
  100% {transform: translateX(0%);}
}

.p4 {
  color: white;
  font-size: 46px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

